body {
    font-size: 13px;
    font-family: arial,helvetica,clean,sans-serif;
    color: #800;
    background-color: #ffe;
}
 
h1 {
    font-family: Tahoma,Bitstream Vera Sans;
    font-size: 197%;
    font-weight: bold;
}
 
h2 {
    font-size: 131%;
    font-weight: bold;
}
 
h3 {
    font-size: 100%;
    font-weight: bold;
}
 
li{
    list-style: none;
}

.post
{
    outline-style: double;
    outline-color: green;
    outline-width: 5px;
}

.desc
{
    outline-style: double;
    outline-color: blue;
    outline-width: 3px;
}
