body {
    font-size: 13px;
    font-family: arial,helvetica,clean,sans-serif;
    color: #800;
    background-color: #ffe;
}
 
h1 {
    font-family: Tahoma,Bitstream Vera Sans;
    font-size: 197%;
    font-weight: bold;
}
 
h2 {
    font-size: 131%;
    font-weight: bold;
}
 
h3 {
    font-size: 100%;
    font-weight: bold;
}
 
li{
    list-style: none;
}

.post
{
    outline-style: solid;
    outline-color: blue;
    outline-width: 1px;
    padding: 2px;
}

.desc
{

}

.logo
{
    display: block;
    margin: auto;
    width: 50%;

}

.footer
{
 background-color=(80,90,100);
 color=(230,230,200);
}
