li{list-style:none;}

body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
	h1{font-family:Tahoma,Bitstream Vera Sans;font-size:197%;font-weight:bold;}
	h2{font-size:131%;font-weight:bold;}
	h3{font-size:100%;font-weight:bold;}
	body{background:#ffe top repeat-x;color:#800;}
